.image-cropper-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    .preview-container{
        display: flex;
        flex-direction: column;
        .MuiCardContent-root{
            display: flex;
            flex-direction: column;
            width: 250px;
        }
    }
}
.preview-style {
    display: flex;
    flex-direction: column;
    margin: auto;
}